{%extends 'base.html'%}
{%block body%}

{%for c in carts%}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-4">
                {%if c.product.image%}
                <img class="card-img-top mb-5 mb-md-0" src="{{c.product.image.url}}" alt="..." / height="500px">
                {%else%}
                <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." / height="500px" >
                {%endif%}
            </div>
            <div class="col-md-4">
                <div class="small mb-1"></div>
                <h1 class="display-5 fw-bolder">{{c.product.product_name}}</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through"></span>
                    <span>RS{{c.product.price}}</span>
                </div>
            </div>
            <div class="col-4">
                <a href="{%url 'create-order' c.id%}" class="btn btn-warning">Buy Now</a>
                
                
                <a href="{%url 'cart-change' c.id%}" class="btn btn-danger">cancel Order</a>
            </div>

        </div>
    </div>
</section>

{%endfor%}

{%endblock%}